.container {
  width: 335px;
  margin: 0 auto;
  padding-top: 1.5rem;
}

.column-full {
  width: 100%;
}

.column-half {
  width: 100%;
}

.column-75 {
  width: 75%;
}

.column-25 {
  width: 25%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
