* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

li {
  list-style: none;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 700px;
  }
}
