body {
  font-family: "Montserrat", sans-serif;
  background: #00010d;
  color: white;
}

ul {
  padding: 0 5px;
}

.search-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

input#search-input {
  font-family: 'Montserrat', sans-serif;
  background-color: #393e42;
  border: none;
  height: 2rem;
  width: 80%;
  padding: 0 1rem;
  border-radius: 30px;
  outline: none;
  color: white;
}

.auto-list-container {
  width: 80%;
  position: relative;
}

.auto-list {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
  border-radius: 10px;
  display: none;
}

.auto-list.active {
  display: block;
  background-color: #393e42;
  border-top: 1px solid #00010d;
}

.auto-suggest-item {
  padding: 0.4rem;
}

i {
  color: #393e42;
  cursor: pointer;
}

i.fa-search {
  font-size: 2rem;
}

.watchlist-section,
.top-news-section {
  padding-top: 2rem;
}

.watchlist-text {
  display: inline;
  font-weight: 400;
  margin-bottom: 0.2rem;
  padding-left: 5px;
}

.watchlist-header {
  justify-content: space-between;
  align-items: center;
}

i.fa-pen {
  padding-right: 5px;
}

.full-bar {
  height: 3px;
  background-color: #393e42;
  border-radius: 5px;
}

.watchlist li {
  padding: 5px 0;
}

.watchlist p {
  font-weight: 300;
}

.watchlist-item-head,
.watchlist-item,
.lists-sections,
.stats-header,
.table-header,
.stock-page {
  justify-content: space-between;
}

.watchlist-item {
  border-bottom: 1px solid #393e42;
  margin: 0.2rem 0;
  padding-left: 10px;
}

.price-column {
  width: 25%;
  text-align: center;
}

.top-news-item {
  width: 100%;
  height: 70px;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #393e42;
  margin: 0.4rem 0;
}

.headline-container {
  width: 75%;
}

.headline-container h3 {
  font-size: 14px;
  font-weight: 300;
}

.news-image-container {
  width: 70px;
  height: 50px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-image-container img {
  height: 100%;
}

.overview-header {
  align-items: center;
}

.fa-times {
  font-size: 24px;
  padding-right: 5px;
}

.fa-plus {
  font-size: 18px;
  margin-right: auto;
  margin-left: 0.8rem;
  color: #b6ecb4;
}

.stock-stats-section {
  padding-top: 1.2rem;
}

.stock-stats-container {
  width: 100%;
  height: 220px;
  border-radius: 25px;
  padding: 1rem;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stats-ticker,
.stats-price,
.company-name {
  font-weight: 500;
}

.company-name {
  font-weight: 400;
  font-size: 14px;
  padding-left: 0.2rem;
}

.stock-stats-container h3 {
  font-weight: 400;
}

.table-header {
  margin-bottom: 0.6rem;
}

.stats-table {
  border-spacing: 2px 4px;
}

.positive-background {
  background-color: #b6ecb4;
}

.profit-text {
  color: green;
}

.loss-text {
  color: red;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 760px;
  }

  .column-half {
    width: 49%;
  }

  .stock-stats-section {
    padding-top: 2rem;
  }
}

.hidden {
  display: none;
}
